In [1]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

code  = '005930'
URL = "https://finance.naver.com/item/main.nhn?code=" + code

samsung_electronic = requests.get(URL)
html = samsung_electronic.text

soup = BeautifulSoup(html, 'html.parser')

finance_html = soup.select('div.section.cop_analysis div.sub_section')[0]

In [2]:
th_data = [item.get_text().strip() for item in finance_html.select('thead th')]
annual_date = th_data[3:7]
quarter_date = th_data[7:13]

finance_index = [item.get_text().strip() for item in finance_html.select('th.h_th2')][3:]

finance_data = [item.get_text().strip() for item in finance_html.select('td')]

import numpy as np

finance_data = np.array(finance_data)
finance_data.resize(len(finance_index), 10)

finance_date = annual_date + quarter_date

import pandas as pd
finance = pd.DataFrame(data=finance_data[0:,0:].T, index=finance_date, columns=finance_index)

annual_finance = finance.iloc[:, :4]
quarter_finance = finance.iloc[:, 4:]

In [3]:
display(finance)

,매출액,영업이익,당기순이익,영업이익률,순이익률,ROE(지배주주),부채비율,당좌비율,유보율,EPS(원),PER(배),BPS(원),PBR(배),주당배당금(원),시가배당률(%),배당성향(%)
2016.12,"2,018,667","292,407","227,261",14.49,11.26,12.48,35.87,223.46,"22,004.14","2,735",13.18,"26,636",1.35,570,1.58,17.81
2017.12,"2,395,754","536,450","421,867",22.39,17.61,21.01,40.68,181.61,"24,536.12","5,421",9.40,"30,427",1.67,850,1.67,14.09
2018.12,"2,437,714","588,867","443,449",24.16,18.19,19.63,36.97,204.12,"27,531.92","6,024",6.42,"35,342",1.10,"1,416",3.66,21.92
2019.12(E),"2,314,270","271,436","219,478",11.73,9.48,8.77,,,,"3,193",17.38,"37,455",1.48,"1,419",,
2018.09,"654,600","175,749","131,507",26.85,20.09,21.73,39.28,198.16,"27,412.63","1,771",7.17,"34,519",1.35,,,
2018.12,"592,650","108,006","84,622",18.22,14.28,19.63,36.97,204.12,"27,531.92","1,163",6.42,"35,342",1.10,,,
2019.03,"523,855","62,333","50,436",11.90,9.63,16.21,36.28,209.25,"27,832.98",752,8.54,"36,142",1.24,,,
2019.06,"561,271","65,971","51,806",11.75,9.23,13.24,33.05,230.74,"28,129.35",746,10.48,"36,789",1.28,,,
2019.09,"620,035","77,779","62,877",12.54,10.14,10.05,34.14,235.80,"28,541.64",899,13.73,"37,600",1.30,,,
2019.12(E),"610,019","65,661","55,812",10.76,9.15,,,,,712,77.98,"37,455",1.48,,,

In [30]:
#PER_ROE = finance['PER(배)','ROE(지배주주)']


PER = finance['PER(배)']
ROE = finance['ROE(지배주주)']

In [12]:
PERdf = pd.DataFrame(PER)

In [13]:
ROEdf =pd.DataFrame(ROE)

In [31]:
Golden_index  = PERdf.join(ROEdf)

In [36]:
print(Golden_index)

           PER(배) ROE(지배주주)
2016.12     13.18     12.48
2017.12      9.40     21.01
2018.09      7.17     21.73
2018.12      6.42     19.63
2018.12      6.42     19.63
2018.12      6.42     19.63
2018.12      6.42     19.63
2019.03      8.54     16.21
2019.06     10.48     13.24
2019.09     13.73     10.05
2019.12(E)  17.38      8.77
2019.12(E)  17.38
2019.12(E)  77.98      8.77
2019.12(E)  77.98

In [37]:
Golden_index.drop_duplicates('PER(배)',keep='first')

           PER(배) ROE(지배주주)
2016.12     13.18     12.48
2017.12      9.40     21.01
2018.09      7.17     21.73
2018.12      6.42     19.63
2019.03      8.54     16.21
2019.06     10.48     13.24
2019.09     13.73     10.05
2019.12(E)  17.38      8.77
2019.12(E)  77.98      8.77

In [61]:
list_2016 = Golden_index.loc['2016.12']

In [62]:
list_2017 = Golden_index.loc['2017.12']

In [67]:
list_2018a = Golden_index.loc['2018.09']
list_2018b = Golden_index.loc['2018.12']
#list_2018b.add(list_2018a)

In [68]:
list_2018a

PER(배)        7.17
ROE(지배주주)    21.73
Name: 2018.09, dtype: object

In [73]:
list_2018b=list_2018b.drop_duplicates('PER(배)')

In [80]:
a = list_2018b['PER(배)'][0]

In [83]:
print(type(a))

<class 'str'>