In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('TLT_monthly.csv')
print(data[:13])

          Date    Open    High     Low   Close    Volume
0   2005-02-28  71.272  71.460  70.482  70.586   4318503
1   2005-03-31  70.212  71.347  68.634  70.041  37282793
2   2005-04-30  70.204  72.875  69.271  72.485  36759015
3   2005-05-31  72.258  74.529  71.210  74.486  31841886
4   2005-06-30  74.648  76.062  73.182  75.822  44296176
5   2005-07-31  75.301  75.479  72.673  73.012  32219496
6   2005-08-31  72.531  75.274  71.571  75.268  30460083
7   2005-09-30  74.738  75.070  72.045  72.295  26628613
8   2005-10-31  71.971  72.199  69.881  70.396  27147296
9   2005-11-30  70.121  71.460  68.895  70.570  27540980
10  2005-12-31  70.570  72.603  69.668  72.059  20618015
11  2006-01-31  71.817  72.743  70.611  71.096  17253098
12  2006-02-28  70.693  71.711  70.350  71.630  15368773

In [3]:
open_data = pd.DataFrame.copy(data)
open_data = open_data.drop(columns=['High','Low','Close','Volume'])
print(open_data)

           Date     Open
0    2005-02-28   71.272
1    2005-03-31   70.212
2    2005-04-30   70.204
3    2005-05-31   72.258
4    2005-06-30   74.648
..          ...      ...
176  2019-10-31  140.320
177  2019-11-30  140.040
178  2019-12-31  137.690
179  2020-01-31  136.560
180  2020-02-29  144.945

[181 rows x 2 columns]

In [4]:
def makeScore(date):
    
    sum=0
    for i in range(12):
        if (open_data.loc[date]['Open'] - open_data.loc[date-i]['Open']) >0:
            sum += 1
    return sum / 12 * 100

In [5]:
print(makeScore(11))
print(len(open_data))

41.66666666666667
181

In [6]:
Score_list = []
for i in range(11,len(open_data)):
    Score_list.append(makeScore(i))

In [7]:
Score_sr = pd.Series(Score_list)

In [8]:
display(Score_sr)

0      41.666667
1      33.333333
2      33.333333
3       0.000000
4       0.000000
         ...
165    83.333333
166    75.000000
167    66.666667
168    58.333333
169    83.333333
Length: 170, dtype: float64

In [9]:
date_sr = open_data[11:]['Date']

In [10]:
print(date_sr)

11     2006-01-31
12     2006-02-28
13     2006-03-31
14     2006-04-30
15     2006-05-31
          ...
176    2019-10-31
177    2019-11-30
178    2019-12-31
179    2020-01-31
180    2020-02-29
Name: Date, Length: 170, dtype: object

In [31]:
plt.rc('xtick',labelsize=10)
plt.rc('ytick',labelsize=20)
plt.xticks(rotation=90)
plt.rcParams["figure.figsize"] = (60,10)

plt.plot(date_sr,Score_sr,'-o',color='royalblue',label='Avergae Momentum Score')

plt.xlabel('Date',fontsize=25)
plt.ylabel('Score[%]',fontsize=25)
plt.axhline(y=50,color='r')
plt.legend(prop={'size':15})

#plt.xscale('log')
#plt.yscale('log')

plt.grid(which='major', linestyle='--')

plt.tight_layout()
#plt.show()
plt.savefig('TLT_avg_mom_score.png')
plt.close()